<%= form_for @takeSurvey do |f| %>
  <div class="field">
    <%= @survey.title %>
    <br/>
    <%= @survey.description %>
    <%= f.hidden_field :survey_id, :value => @survey.id %>
  </div>

  <h3>Questions</h3>
  <div id="questions">
    <% @survey.questions.each do |question| %>
        <%= question.content %>
	    <%= f.fields_for :responses do |response| %>
	    	<div class="nested-fields">
  				<div class="field">

			      <%= response.hidden_field :question_id, :value => question.id %>
			      <%= response.text_field :content %> 
		        </div>
			</div>
	    <% end %> 
	    <div class="links">
            <%= link_to_add_association 'add response', f, :responses, :render_options => {:locals => {:question => question.id }} %>
        </div>
  	
  	<%end%>
  </div>
  
  <%= f.submit %>
<% end %>
