<%= form_for @takeSurvey do |f| %>
  <div class="field">
    <%= @survey.title %>
    <br/>
    <%= @survey.description %>
  </div>

  <h3>Questions</h3>
  <div id="questions">
    <% @survey.questions.each do |question| %>
    1q
	    <%= f.fields_for :responses do |response| %>
	    1r
	    	<div class="nested-fields">
  				<div class="field">

			      <%= response.label :response %>
			      <%= response.hidden_field :question_id, :value => question.id %>
			      <%= response.text_field :content %> 
		        </div>
			</div>
	    <% end %> 
  	
  	<%end%>

    
    <div class="links">
      <%#= link_to_add_association 'add question', f, :questions %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
