<%= form_for @survey do |f| %>
  <div class="field">
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <br/>
    <%= f.text_field :description %>
  </div>
  <h3>Questions</h3>
  <div id="questions">
    <%= f.fields_for :questions do |question| %>
      <%= render 'question_fields', f: question %>
    <% end %>
    
    
    
    <br><br>
    <%= f.fields_for :questions do |question| %>
      <%= question.label :question %>
      <%= question.hidden_field :content, :value => "I'm hidden!" %>
    <% end %>
    
    
    
    
    <div class="links">
      <%= link_to_add_association 'add question', f, :questions %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
