<p id="notice"><%= notice %></p>

<h1>Listing Surveys</h1>



    <% @surveys.each do |survey| %>
      <div class="survey-index">

      	  <h3><%= link_to survey.title, survey %></h3>
      	  <h4>Created by <%=survey.assigner.name%></h4>
      	  <% if current_user.id == survey.assigner_id %>
	          <%= link_to 'Edit', edit_survey_path(survey) %>
	          <%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %>
	      <%end%>

      </div>
    <% end %>

<br>
<% if !current_user.user? %>
  <%= link_to 'New Survey', new_survey_path %>
<%end%>
