<p id="notice"><%= notice %></p>
<h1><%=@survey.title%></h1>
<p><%=@survey.description%></p>

<% @survey.questions.each do |question| %>
	<%= render '/questions/response_field', f: response %>
<% end %>

<% if current_user.id == @survey.assigner_id %>
	<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%end%>
	<%= link_to 'Back', surveys_path %>
