<p id="notice"><%= notice %></p>
<h1><%=@survey.title%></h1>
<p><%=@survey.description%></p>

<% @survey.take_surveys.each do |ts| %>
	<% ts.responses.each do |r| %>
		<%= r.question %>
		<br>
		<%= r.content %>
		<br>
		<br>
	<%end%>
<% end %>
	
<% if current_user.id == @survey.assigner_id %>
	<%= link_to 'Edit', edit_survey_path(@survey) %>
<%end%>
	<%= link_to 'Back', surveys_path %>

