<p id="notice"><%= notice %></p>
<h1><%=@survey.title%></h1>
<p><%=@survey.description%></p>

<% @survey.questions.each do |question| %>
	<%=question.content%>
	<div id="responses">
		<%= f.fields_for :responses do |response| %>
			<%= render '/questions/response_field', f: response %>
		<%end%>
		<div class="links">
		  <%= link_to_add_association 'add question', f, :questions %>
		</div>
	</div>
<% end %>

<% if current_user.id == @survey.assigner_id %>
	<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%end%>
	<%= link_to 'Back', surveys_path %>
